langchain
langchain-community
langchain-text-splitters
langchain-groq
langchain-experimental
unstructured
unstructured[pdf]
faiss-cpu
transformers
sentence-transformers
nltk
langchain-huggingface
langchain-core
gunicorn
pydantic
email-validator
spacy
openpyxl
pandas
tabulate